<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <h2>Tasks to do:</h2>
    </mat-grid-tile>
    <mat-grid-tile>
        <h2>Created tasks:</h2>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-selection-list #todo>
            <mat-list *ngFor="let task of tasksToDo">
                <span>{{task.description}}</span>
                <span>
                    <button (click)="moveToDone(task)">
                      Done!
                    </button>
                </span>
            </mat-list>
        </mat-selection-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-selection-list #created>
            <mat-list *ngFor="let task of createdTasks">
                <span>{{task.description}}</span>
                <span>
                    <button (click)="moveToToDo(task)">
                      Move
                    </button>
                </span>
            </mat-list>
        </mat-selection-list>
    </mat-grid-tile>
</mat-grid-list>


<!--<p>-->
<!--Options selected: {{tasks.selectedOptions.selected.length}}-->
<!--</p>-->
